@font-face{
  font-family: 'Helvetica', sans-serif;
  src: url(../fonts/helvetica.woff2);
  fount-style: normal;
  font-weight: 400;
}

@font-face{
  font-family: 'Helvetica-Bold', sans-serif;
  src: url(../fonts/helvetica-bold.woff2);
  fount-style: normal;
  font-weight: 700;
}

html{
  box-sizing: border-box;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

a{
  color: inherit;
  text-decoration: none;
}

li{
  list-style: none;
}

img{
  max-width: 100%;
}

button{
  color: inherit;
  font-size: inherit;
  background-color: transparent; /*прозрачный*/
  border: none;
  cursor: pointer; 
  font-family: inherit;
  padding: 0;
}

.container{
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.section-title{
  text-transform: uppercase;
  font-weight: 400;
}

body{
  font-family: 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #5C5C5E;
  min-width: 320px;
  overflow-x: hidden;
}

.header{
  border-bottom: 1px solid #CACAD6;
}

.nav{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  height: 80px;
}

.menu_btn{
  display: none;
  width: 40px;
  height: 30px;
  flex-direction: column;
  justify-content: space-between;
}

.menu_btn span{
  width: 100%;
  height: 2px;
  background-color: #070707;
}

.menu{
  display: flex;
  gap: 0 20px;
}

.logo{
justify-self: center;
display: flex;
}

.basket{
  position: relative;
  justify-self: end;
}

.basket span{
  font-size: 11px;
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
  color: white;
  position: absolute;
  display: flex;
  line-height: 0;
  align-items: center;
  justify-content: center;
  bottom: -2px;
  right: -6px;
}

.top{
  min-height: calc(100vh - 80px);
  background-image: url(../images/rectangle_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

.title{
  padding-top: 16%;
  font-size: 96px;
  margin-bottom: 10px;
  font-weight: 400;
}

.subtitle{
  font-size: 36px;
  margin-bottom: 5px;
}

.top_text{
  font-size: 13px;
  margin-bottom: 50px;
}

.buy_text{
  padding-top: 6px;
  font-size: 13px;
}

.buy_btn{
  cursor: pointer;
  border: 1px solid #bc10d8;
  background: linear-gradient(180deg, #BC10D8 0%,
   rgba(80, 0, 250.0, 0.93) 100%);
  display: flex;
  padding: 0;
  text-transform: uppercase;
}

.buy_btn_text{
  color: #F6F4F5;
  padding: 20px 110px;
  text-transform: uppercase;
}

.buy_btn_price{
  background-color: #F6F4F5;
  padding: 20px 105px;
}

.features{
  padding: 100px 0px; /*верх низ право лево*/
}

.features_titles{
  display: flex;
}

.features_title{
  flex-basis: 300px;
  padding-right: 20px;
}

.features_text{
  max-width: 330px;
  text-transform: uppercase;
  font-size: 36px;
  margin-bottom: 2px; /* отступ в низ*/
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tabs{
  display: grid;
  grid-template-columns: 300px auto;
}

.tabs_btn{
  display: flex;
  flex-direction: column;
  align-items: start;
}

.tabs_btn_item{
  font-weight: 700;
  margin-bottom: 20px;
}

.tabs_btn_item_active{
  color: #070707;
}

.tabs_content_item{
  display: grid;
  grid-template-columns: auto 280px;
  grid-template-rows: auto 150px;
  gap: 40px;
  opacity: 0; /*его не было видно*/
  position: absolute;
  transition: opacity .3s ease; /*анимация*/
}

.tabs_content_item_active{
  opacity: 1;
}

.tabs_content{
  position: relative;
  min-height: 300px;
}

.tabs_content_img{
  grid-row: 1/-1; /*изображение тянется*/
  align-self: stretch; 
  object-fit: cover;
}

.tabs_content_box h3{
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 5px;
}

.video{
  grid-column: 2/3; /*начинается со второй линии и зак.третей*/
  width: 280px;
  height: 150px;
  background-image: url(../images/rectangle_4.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; /*фоновое изображение будет растянуто по всей ширине и высоте элемента*/
  display: flex;/*отправляем плэй вниз*/
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
  padding: 9px 10px;
}

.video_btn{
  margin-left: 22px; /*отступ с лева 31px - 9px*/
}

.video span{
  font-size: 13px;
  color: #F6F4F5;
}

.game{
  margin-bottom: 100px;
}

.game_title{
  margin-bottom: 50px;
}

.game_inner{
  display: grid;
  grid-template-columns: repeat(4, 1fr) ;
}

.game_descr_title{
  text-transform: uppercase;
  font-size: 36px;
  margin-bottom: 10px; /* отступ в низ*/
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.game_descr_text{
  font-size: 16px;
  margin-bottom: 24px; 
}

.game_link{
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid #bc10d8 ;
  padding: 16px 15px 12px;
  width: 225px;
  text-align: center;
  border: 1px solid;
  border-image: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
}

.game_item{
  border: 1px solid #bc10d8;
  padding: 10px 20px 18px;
  display: flex;
  flex-direction: column;
}

.game_item_img{
  margin-bottom: 10px;
}

.game_item_title{
  font-size: 24px;
  margin-bottom: 10px;
}

.game_item_text{
  margin-bottom: 30px;
}

.game_item-link{
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  margin-top: auto; /*flex всегда в низу*/
}

.buy {
  margin-bottom: 110px;
  text-align: center;
  position: relative;
  overflow-x: hidden;
}

.buy_img{
  margin-bottom: 30px;
}

.buy .buy_btn{
  margin: 0 auto;
}

.buy_bg{
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 400px;
  line-height: 400px;
  opacity: 0.1;
  position: absolute;
  z-index: -1; /* появился под картинкой. управление слоями*/
  animation: line-text 7s linear 1s infinite;
}

@keyframes line-text{
  from{
    transform: translateX(100%);
    transform-origin: left center;
  }
  to{
    transform: translateX(-100%);
    transform-origin: right center;
  }
}

.equipment{
  margin-bottom: 100px;
}

.equipment-title{
  margin-bottom: 50px;
}

.equipment_box{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 20px; /*отступы*/
}

.equipment_box_img{
  margin-bottom: 10px;
}

.equipment_box_title{
  font-size: 36px;
  line-height: 50px;
  text-transform: uppercase;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.equipment_box_item_one{
  grid-row: 1/-1;
}
.promo{
  margin-bottom: 100px;
}

.promo_inner{
  background-image: url(../images/promo.jpg);
  min-height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  position: relative;
}

.promo_btn{
  font-size: 16px;
  color: #fff;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 80px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.accessories{
  margin-bottom: 100px;
}

.accessories_title{
  margin-bottom: 30px;
}

.accessories_text{
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 36px;
  text-transform: uppercase;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
}

.accessories_items{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.accessories_item{
  padding: 20px;
  border: 1px solid;
  border-image: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.accessories_item_img{
  margin-bottom: 10px;
}

.accessories_item_title{
  font-size: 24px;
  color: #070707;
  min-height: 67px; /*хз*/
}

.accessories_item_text{
  margin-bottom: 35px;
}

.accessories_item_prise{
  font-weight: 700;
  line-height: 18px;
  color: #070707;
  margin-bottom: 20px;
  margin-top: auto;
}

.accessories_item_btn{
  border: 1px solid;
  border-image: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
  padding: 6px;
  font-weight: 700;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  width: 100%;
}

.contacts{
  margin-bottom: 100px;
}

.contacts_title{
  font-size: 24px;
  font-weight: 400;
  color: #070707;
  line-height: 33px;
  margin-bottom: 10px;
}

.contacts_inner{
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.contacts_form{
  flex-basis: 600px;
}

.form{
  margin-bottom: 10px;
  position: relative;
}

.form_input{
  width: 100%;
  border: none;
  border-bottom: 1px solid #CACAD6;
  padding: 22px 70px 22px 0;
}

.form_input::placeholder{
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #CACAD6
}

.from_btn{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color:#CACAD6;
  text-transform: uppercase;
  font-weight: 700;
  color: #5C5C5E;
  position: absolute;
  right: 0;
  bottom: 5px;

}
.contacts_text{
  font-size: 13px;
}

.footer{
  border-top: 1px solid #CACAD6;
  border-bottom: 1px solid #CACAD6;
  margin-bottom: 44px;
  padding: 30px 0;
}

.social{
  display: flex;
  gap: 20px;
  justify-self: end;
}

@media (max-width:1140px){
  .footer .menu{
    display: none;
  }
  .footer .nav{
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width:992px){
  .tabs{
    display: block;
  }
  .tabs_btn{
    display: block;
    column-count: 2;
  }
  .tabs_btn_item{
    display: block;
  }
  .game_inner{
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }
  .accessories_items {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media (max-width:820px){
  .equipment_box{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }
  .contacts_inner{
    display: block;
  }
  .contacts_form{
    margin-bottom: 20px;
  }
  .menu_btn{
    display: flex;
  }
  .menu{
    transform: translateX(-100%);
    transition: transform 1s;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 320px;
    background: #000;
    color: #fff;
    flex-direction: column;
    padding: 50px 0;
    align-items: center;
  }
  .menu.menu_active{
    transform: translateX(0%);

  }
  .menu_link{
    font-size: 24px;
    padding: 10px 0;
    display: inline-block;
  }
}

@media (max-width:768px){
  .title{
    font-size: 66px;
  }
  .subtitle{
    font-size: 24px;
  }
}



@media (max-width:568px){
  .buy_btn{
    flex-direction: column;
    margin: 0 auto;
  }
  .top{
    text-align: center;
  }
  .features_titles{
    display: block;
  }
  .tabs_content_item{
    display: block;
    height: 0;
    position: relative;
  }
  .tabs_content_item_active{
    height: auto;
  }
  .video{
    margin-top: 20px;
    width: auto;
    height: 250px;
  }
  .game_inner {
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
  }
  .equipment_box {
    display: block;
  }
  .equipment_box_img{
    width: 100%;
    object-fit: cover;
  }
  .equipment_box_text{
    margin-bottom: 10px;
  }
  .accessories_items {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .accessories_text{
    font-size: 28px;
  }
  .nav{
    grid-template-columns: 1fr 2fr 1fr;
  }
  .footer .nav{
    flex-direction: column;
    height: auto;
  }
  .social{
    order: -1;
    margin-bottom: 20px;
    gap: 30px;
  }
}

@media (max-width:564px){
  .buy_btn{
    flex-direction: column;
    margin: 0 auto;
  }
  .top{
    text-align: center;
  }
}

@media (max-width:420px){
    .title{
      font-size: 48px;
    }
    .subtitle{
      font-size: 20px;
    }
    .tabs_btn{
      column-count: 1;
    }
    .features_text{
      font-size: 32px;
    }
    .menu{
      width: 100%;
    }
}

